<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- starts -->
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Appointement start -->
          <div class="login-card card-body auth-body">
            <form #appointform="ngForm" (ngSubmit)="takeApp()" class="md-float-material">
              <small class="danger" style="color: red;font-size: larger;">{{msg}}</small>

              <div class="text-center">
                
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center txt-primary">Book your appointement</h3>
                  </div> 
                </div>
                <hr/>
                <table class="table">
                    <tbody>
                    <tr>
                      <td>
                        <div class="input-group">
                          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                          <input type="text" class="form-control" placeholder="Enter your full name" name="fullName" [(ngModel)]="app.fullName" required #fullName="ngModel"
                          [class.is-invalid]="fullName.invalid && fullName.touched">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-group">
                          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-mobile-phone"></i></label></span>
                          <input type="text" class="form-control" placeholder="Enter your number" name="phoneNumber" [(ngModel)]="app.phoneNumber" required #phone="ngModel"
                          [class.is-invalid]="phone.invalid && phone.touched">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-at"></i></label></span>
                        <input type="text" class="form-control" placeholder="Enter your Email Address" name="emailId" [(ngModel)]="app.emailId" required #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched" email="true">
                        </div>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-doctor-alt"></i></label></span>
                          
                            <input type="date" id="start" name="meetingDate"
                                   value="2022-03-4"
                                   min="2022-03-04" max="2022-12-31"  [(ngModel)]="app.aptDate" required #aptDate="ngModel"> 
                                   <input type="time" id="appt" name="meetingTime"
                                   min="08:00" max="18:00" [(ngModel)]="app.aptHour" required #aptHour="ngModel">                          
                            </div>
                        </td>
                      </tr>
                      
                </tbody>
              </table>
                
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button [disabled]="appointform.form.invalid" type="submit"    class="btn btn-primary waves-effect waves-light m-r-20" >Pay Now</button>
                    <button [disabled]="appointform.form.invalid"  type="submit"    class="btn btn-primary waves-effect waves-light m-r-20">Pay Later!</button>
                  </div>
                </div>
                <hr/>
                
              </div>
            </form>
            <!-- end of form -->
          </div>
          <!-- Appointement end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of -->
  </section>
