<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- starts -->
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Appointement start -->
          <div class="login-card card-body auth-body">
            <form class="md-float-material">
              <div class="text-center">
                
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center txt-primary">Book your appointement</h3>
                  </div> 
                </div>
                <hr/>
                <table class="table">
                    <tbody>
                    <tr>
                      <td>
                        <div class="input-group">
                          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                          <input type="text" class="form-control" placeholder="Enter your full name">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-group">
                          <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-mobile-phone"></i></label></span>
                          <input type="text" class="form-control" placeholder="Enter your number">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-at"></i></label></span>
                        <input type="text" class="form-control" placeholder="Enter your Email Address">
                        </div>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-doctor-alt"></i></label></span>
                            <input type="text" class="form-control" placeholder="Choose the date">
                          </div>
                        </td>
                      </tr>
                </tbody>
            </table>
                
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <a href="paiement" class="btn btn-primary waves-effect waves-light m-r-20">Submit</a>
                  </div>
                </div>
                <hr/>
                
              </div>
            </form>
            <!-- end of form -->
          </div>
          <!-- Appointement end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of -->
  </section>
