<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'NOTRE GENÈSE'">
        <p>
          MYND est une startup tunisienne œuvrant dans le domaine de la Health Tech avec une dimension sociale prépondérante.
  
  Lancée en fin Février 2022, la startup s’est donnée pour objectif de soutenir psychologiquement ceux qui sont dans le besoin. 
  Le principe de notre prestation est simple ; mettre en relation directe et par un appel vidéo un psychologue qualifié et toute 
  personne désirant consulter.
  
  Nos prestations sont centrées sur le bien-être et la santé mentale du citoyen tunisien. 
  Nous proposons en effet une alternative à la médication aussi bien efficace qu’innovante en accompagnant les personnes dans 
  l’adoption de meilleurs réflexes psychologiques pour un meilleur bien-être mental.
  
  Ecoute active, appui-conseil, dialogue et accompagnement sont les maîtres-mots de nos intervenants quels que soient les motifs de 
  consultations à distance : que ce soit pour des conseils pour un meilleur équilibre mental, ou encore l’accompagnement et le 
  soutien dans les situations de conflits conjugaux et sentimentaux, de difficultés rencontrées dans le domaine professionnel, 
  d’addictions, d’anxiété, de manque de confiance en soi, de deuil, de troubles d’anxiété chez les enfants et les adolescents etc.
  
  Les services de MYND s’adressent aussi bien aux particuliers qu’aux entreprises soucieuses du bien-être mental de ses 
  collaborateurs. Il s’agit donc à la fois de soutenir et traiter les problèmes de tout un chacun, mais également d’agir à titre 
  préventif au niveau des entreprises par l’offre de services adéquats et personnalisés à la gestion de leurs ressources humaines 
  respectives.
        </p>
      </app-card>
    </div>
  </div>