<section class="login p-fixed d-flex text-center bg-primary common-img-bg"> 
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="md-tabs">
          <ngb-tabset>
            <ngb-tab title="carte e-dinar">
              <ng-template ngbTabContent>
                <div  class="m-t-15">
                  <!-- Carte e-dinar start -->
                  <div class="login-card card-body auth-body">
                    <div class="auth-box"> 
                      <div class="row m-b-20">
                        <div class="col-md-12">
                        <img src="assets/images/e-dinar.png">
                        </div>
                      </div>
                      <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                        <input type="text" class="form-control" placeholder="Full Name">
                      </div>
                      <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-at"></i></label></span>
                        <input type="text" class="form-control" placeholder="Your Email Address">
                      </div>
                      <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-credit-card"></i></label></span>
                        <input type="text" class="form-control" placeholder="Card number">
                      </div>
                      <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-calendar"></i></label></span>
                        <input type="text" class="form-control" placeholder="Expiration (mm/yy)">
                      </div>
                      <div class="input-group">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-key"></i></label></span>
                        <input type="password" class="form-control" placeholder="secret code">
                      </div> 
                      <div class="row m-t-30">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Pay now</button>
                        </div>
                      </div>
                    </div>      
                  </div>
                  <!-- Carte e-dinar end --> 
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="carte bancaire">
              <ng-template ngbTabContent>
                <div class="m-t-15">     
                    <!-- Carte bancaire start -->
                    <div class="login-card card-body auth-body">
                      <div class="auth-box">
                          <div class="row m-b-20">
                            <div class="col-md-12">
                              <img src="assets/images/visa.jpg">
                            </div>
                          </div>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                            <input type="text" class="form-control" placeholder="Full Name on the card">
                          </div>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-at"></i></label></span>
                            <input type="text" class="form-control" placeholder="Your Email Address">
                          </div>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-credit-card"></i></label></span>
                            <input type="text" class="form-control" placeholder="Card number">
                          </div>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-calendar"></i></label></span>
                            <input type="text" class="form-control" placeholder="Expiration (mm/yy)">
                          </div>
                          <div class="input-group">
                            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-key"></i></label></span>
                            <input type="password" class="form-control" placeholder="CVV2">
                          </div>
                          <div class="row m-t-30">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Pay now</button>
                            </div>
                          </div> 
                      </div> 
                    </div>
                    <!-- Carte bancaire end --> 
                </div>
              </ng-template>
            </ngb-tab> 
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</section>