<section class="Login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="Login-card card-body auth-body">
          <form #Registerform="ngForm" (ngSubmit)="registerUser()">
            <small class="danger" style="color: red;font-size: larger;" >{{msg}}</small>
            <div class="text-center">
              
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Register. It is fast and easy.</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Choose Username" name="username" [(ngModel)]="user.userName" required #username="ngModel"
                [class.is-invalid]="username.invalid && username.touched">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address" name="email" [(ngModel)]="user.emailId" required #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched" email="true">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" required #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" required #cpassword="ngModel"  (ngModel)="user.password"
                [class.is-invalid]="cpassword.invalid && cpassword.touched">
                <span class="md-line"></span>
                <br>
                <div>
                <small class="text-danger" [class.d-none]="(cpassword.value==password.value) || cpassword.untouched">confirm the password</small>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">I read and accept <a href="javascript:;">Terms &amp; Conditions.</a></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Send me the <a href="javascript:;">Newsletter</a> weekly.</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Register now.</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Existing user ?</p>
                  <p class="text-inverse text-left" [routerLink]="['/authentication/Login']"><b>Login here</b></p>
                </div>
                <div class="col-md-2">
                  
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
